.blockTitle {
  display: flex;
  align-items: flex-start;
  line-height: 1.1;
  padding-left: 50px;
  position: relative;
  margin-bottom: clamp(30px, 5%, 70px);
  font-weight: 700;
  font-size: 2.625rem;
}
@media screen and (max-width: 1000px) {
  .blockTitle {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .blockTitle {
    font-size: 1.375rem;
  }
}
.blockTitle::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50% 50%;
  border: 6px solid #c61d06;
  filter: drop-shadow(18px 0 0px #c61d06);
  margin-right: 40px;
  flex-shrink: 0;
  position: absolute;
  top: 14px;
  left: 0;
}
@media screen and (max-width: 1000px) {
  .blockTitle::before {
    font-size: 2rem;
    top: 8px;
  }
}
@media screen and (max-width: 767px) {
  .blockTitle::before {
    font-size: 1.375rem;
    top: 2px;
  }
}

@media screen and (min-width: 576px) {
  .about section .listBox .item:nth-of-type(1) .infoBox,
  .about section .listBox .item:nth-of-type(2) .infoBox {
    align-items: flex-start;
  }
}
.about section .listBox .item:nth-of-type(3) .info {
  background: #818181;
}
.about section .listBox .item:nth-of-type(4) .info {
  background: #c61d06;
}
.about section .listBox .item + .item {
  margin-top: clamp(50px, 10%, 120px);
}
.about section .listBox .infoBox {
  --gap: 40px;
}
@media screen and (min-width: 576px) {
  .about section .listBox .infoBox {
    display: flex;
    align-items: center;
  }
}
.about section .listBox .infoBox .pic {
  max-width: 580px;
}
@media screen and (min-width: 576px) {
  .about section .listBox .infoBox .pic {
    width: 40%;
  }
}
.about section .listBox .infoBox .pic video,
.about section .listBox .infoBox .pic iframe {
  width: 100%;
}
.about section .listBox .infoBox .info {
  padding: 20px;
  font-size: 1.3125rem;
}
@media screen and (min-width: 576px) {
  .about section .listBox .infoBox .info {
    width: 60%;
    padding: 0 0 0 var(--gap);
  }
}
@media screen and (max-width: 1000px) {
  .about section .listBox .infoBox .info {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .about section .listBox .infoBox .info {
    font-size: 1rem;
  }
}
.about section .listBox .infoBox .info ul {
  color: #fff;
  list-style: disc;
  padding: 10px 20px;
}
@media screen and (min-width: 576px) {
  .about section .listBox .infoBox .info ul {
    padding: 20px;
  }
}
.about section .listBox .infoBox .info ul li {
  padding: 5px 0;
}
@media screen and (min-width: 576px) {
  .about section .listBox .infoBox .info ul li {
    padding: 12px 0;
  }
}
.about2 .inBanner .container {
  justify-content: space-between;
}
.about2 .mainBox .picBox {
  margin-bottom: clamp(30px, 5%, 80px);
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 576px) {
  .about2 .mainBox .picBox {
    flex-direction: column;
  }
}
.about2 .mainBox {
  padding-bottom: 0;
}
.about2 section .container .description {
  color: #130a06;
  font-size: 1.3125rem;
  margin-bottom: clamp(30px, 5%, 80px);
}
@media screen and (max-width: 1000px) {
  .about2 section .container .description {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 section .container .description {
    font-size: 1rem;
  }
}
.about2 .bottom {
  position: relative;
}
.about2 .bottom img {
  opacity: 0.45;
}
.about2 .bottom .listBox {
  background: #1f2025;
}
.about2 .bottom .bottomTitleBox {
  inset: 0;
  position: absolute;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about2 .bottom .bottomTitleBox .title {
  font-weight: 900;
  color: #c61d06;
  line-height: 1;
  font-size: 3.375rem;
}
@media screen and (max-width: 1000px) {
  .about2 .bottom .bottomTitleBox .title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .bottom .bottomTitleBox .title {
    font-size: 1.625rem;
  }
}
.about2 .bottom .bottomTitleBox .slogan {
  color: #fff;
  font-weight: 500;
  line-height: 1;
  font-size: 3rem;
}
@media screen and (max-width: 1000px) {
  .about2 .bottom .bottomTitleBox .slogan {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 767px) {
  .about2 .bottom .bottomTitleBox .slogan {
    font-size: 1.5rem;
  }
}

.about3 section .container .description {
  color: #130a06;
  font-size: 1.3125rem;
  margin-bottom: clamp(30px, 5%, 80px);
}
@media screen and (max-width: 1000px) {
  .about3 section .container .description {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .about3 section .container .description {
    font-size: 1rem;
  }
}
.about3 section .picBox {
  margin-bottom: clamp(30px, 5%, 70px);
}
.about3 section .listBox {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}
.about3 section .listBox .item {
  width: calc((100% - 34px) / 3);
  background: #fff;
}
@media screen and (max-width: 1000px) {
  .about3 section .listBox .item {
    width: calc((100% - 17px) / 2);
  }
}
@media screen and (max-width: 575px) {
  .about3 section .listBox .item {
    width: 100%;
  }
}
.about3 section .listBox .item .itemTitle {
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  .about3 section .listBox .item .itemTitle {
    font-size: 1.3125rem;
  }
}
@media screen and (max-width: 767px) {
  .about3 section .listBox .item .itemTitle {
    font-size: 1.125rem;
  }
}

.about4 .item {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.about4 .item:not(:last-child) {
  padding-bottom: 45px;
}
.about4 .item:not(:last-child) .year::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background: #000;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 10px 0 0 #000, 0 20px 0 0 #000, 0 30px 0 0 #000, 0 40px 0 0 #000, 0 50px 0 0 #000, 0 60px 0 0 #000, 0 70px 0 0 #000, 0 80px 0 0 #000, 0 90px 0 0 #000, 0 100px 0 0 #000, 0 110px 0 0 #000, 0 120px 0 0 #000, 0 130px 0 0 #000, 0 140px 0 0 #000, 0 150px 0 0 #000, 0 160px 0 0 #000,
    0 170px 0 0 #000, 0 180px 0 0 #000, 0 190px 0 0 #000, 0 200px 0 0 #000;
}
.about4 .item:nth-child(1) {
  animation-delay: 0.1s;
}
.about4 .item:nth-child(2) {
  animation-delay: 0.2s;
}
.about4 .item:nth-child(3) {
  animation-delay: 0.3s;
}
.about4 .item:nth-child(4) {
  animation-delay: 0.4s;
}
.about4 .item:nth-child(5) {
  animation-delay: 0.5s;
}
.about4 .item:nth-child(6) {
  animation-delay: 0.6s;
}
.about4 .item:nth-child(7) {
  animation-delay: 0.7s;
}
.about4 .item:nth-child(8) {
  animation-delay: 0.8s;
}
.about4 .item:nth-child(9) {
  animation-delay: 0.9s;
}
.about4 .item:nth-child(10) {
  animation-delay: 1s;
}
.about4 .year {
  text-align: center;
  color: #fff;
  background: #c61d06;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: clamp(10px, 5%, 20px);
  font-size: 1.5rem;
  font-weight: 900;
  margin-right: clamp(20px, 5%, 40px);
  transition: all 0.3s ease;
}
@media screen and (max-width: 1000px) {
  .about4 .year {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 767px) {
  .about4 .year {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 575px) {
  .about4 .year {
    font-size: 1.125rem;
  }
}
.about4 .title {
  font-weight: normal;
  font-size: 1.3125rem;
}
@media screen and (max-width: 1000px) {
  .about4 .title {
    font-size: 1.125rem;
  }
}
.certificate {
  background: #e8e8e8;
  padding: 40px 0;
}
.certificate .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
/*# sourceMappingURL=about.css.map */
