.banner .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.banner .slick-dots li {
  margin: 0 10px;
}
.banner .slick-dots li button {
  padding: 0;
  margin: 0;
  border: none;
  background: #BBBBBB;
  color: transparent;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.banner .slick-dots li.slick-active button {
  background: #C61D06;
}

.productBox {
  margin-bottom: 50px;
  position: relative;
}
.productBox .slick-dots {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  bottom: 30px;
}
@media screen and (max-width: 1000px) {
  .productBox .slick-dots {
    position: relative;
    bottom: 0;
    left: auto;
    justify-content: center;
    margin-top: 10px;
  }
}
.productBox .slick-dots li {
  margin: 0 10px;
}
.productBox .slick-dots li button {
  padding: 0;
  margin: 0;
  border: none;
  background: #BBBBBB;
  color: transparent;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.productBox .slick-dots li.slick-active button {
  background: #C61D06;
}
.productBox .container {
  padding: 0;
  margin: 0;
  max-width: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  min-height: 700px;
}
@media screen and (max-width: 1000px) {
  .productBox .container {
    min-height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .productBox .container {
    flex-direction: column;
    padding: 0 30px;
  }
}
.productBox .infoBox {
  width: calc(38% + 40px);
  position: relative;
  isolation: isolate;
}
@media screen and (max-width: 767px) {
  .productBox .infoBox {
    padding: 0px;
    width: 100%;
  }
}
.productBox .infoBox::before {
  content: "";
  display: block;
  background: #F2F2F2;
  position: absolute;
  inset: 0 -20% 90px 0;
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  .productBox .infoBox::before {
    inset: 0 -20% 0px 0;
  }
}
@media screen and (max-width: 767px) {
  .productBox .infoBox::before {
    inset: 0;
  }
}
.productBox .infoBox .nm {
  font-weight: 900;
  font-size: 21.875rem;
  color: #FFF;
  line-height: 0.9;
  margin-bottom: -10%;
}
@media screen and (max-width: 1000px) {
  .productBox .infoBox .nm {
    font-size: 12.5rem;
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .productBox .infoBox .nm {
    font-size: 6.25rem;
    margin-bottom: -5%;
  }
}
.productBox .infoBox .info {
  width: 70%;
  margin: 0 0 0 auto;
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .productBox .infoBox .info {
    width: 100%;
  }
}
.productBox .infoBox .title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1000px) {
  .productBox .infoBox .title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .productBox .infoBox .title {
    font-size: 2rem;
    margin: 0;
  }
}
@media screen and (max-width: 575px) {
  .productBox .infoBox .title {
    font-size: 1.5rem;
  }
}
.productBox .infoBox .description {
  color: #140A07;
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 0 50px 20px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 767px) {
  .productBox .infoBox .description {
    width: 100%;
    padding: 30px 30px 0 30px;
  }
}
@media screen and (max-width: 575px) {
  .productBox .infoBox .description {
    font-size: 1rem;
  }
}
.productBox .infoBox .more {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: #C61D06;
  text-decoration: underline;
  line-height: 1;
  margin: 0 0 30px 30px;
}
.productBox .picBox {
  position: relative;
  width: 62%;
  margin-left: -40px;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .productBox .picBox {
    order: -1;
    width: calc(100% + 40px);
    margin-left: 0;
    margin-left: -40px;
  }
}
.productBox .picBox .unitTitle {
  color: #F9F9F9;
  width: 100%;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-left: 20%;
}
@media screen and (max-width: 1000px) {
  .productBox .picBox .unitTitle {
    font-size: 5rem;
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .productBox .picBox .unitTitle {
    font-size: 4rem;
  }
}
.productBox .picBox .slick-slide > div {
  padding: 0 0px 40px 40px;
}
@media screen and (max-width: 767px) {
  .productBox .picBox .slick-slide > div {
    padding: 0 0px 0px 40px;
  }
}
.productBox .picBox .slick-active .pic {
  box-shadow: -10px 10px 30px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .productBox .picBox .slick-active .pic {
    box-shadow: none;
  }
}
.productBox .picBox .pic {
  width: calc(100% - 1px) !important;
  margin-right: 1px;
  border: #EEEEEE 1px solid;
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.productBox .picBox .slick-list {
  padding-right: 16.5%;
}
@media screen and (max-width: 1000px) {
  .productBox .picBox .slick-list {
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .productBox .picBox .slick-list {
    padding-right: 0;
  }
}

.videoBox {
  line-height: 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: clamp(30px, 10%, 170px);
  z-index: 9;
}
.videoBox video {
  width: 100%;
  margin: -5% 0 -4%;
  transform: scale(1.1);
}

.whyBox {
  position: relative;
  margin-bottom: clamp(30px, 10%, 140px);
}
.whyBox::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  -webkit-mask: url("../images/index/logo_icon.svg") center no-repeat;
          mask: url("../images/index/logo_icon.svg") center no-repeat;
  background: #F9F9F9;
  width: 90%;
  aspect-ratio: 1;
}
.whyBox .unitTitle {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-bottom: clamp(30px, 10%, 60px);
}
@media screen and (max-width: 1000px) {
  .whyBox .unitTitle {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .whyBox .unitTitle {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) and (max-width: 575px) {
  .whyBox .unitTitle {
    font-size: 1.625rem;
  }
}
.whyBox .unitTitle::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50% 50%;
  border: 6px solid #C61D06;
  filter: drop-shadow(18px 0 0px #C61D06);
  margin-right: 40px;
  flex-shrink: 0;
}
.whyBox .unitTitle::after {
  content: "?";
  color: #C61D06;
}
.whyBox .listBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px 20px;
}
.whyBox .listBox .item {
  display: flex;
  flex-direction: column;
  position: relative;
  isolation: isolate;
}
@media screen and (min-width: 768px) {
  .whyBox .listBox .item {
    max-width: 640px;
    width: calc((100% - 20px) / 2);
  }
}
.whyBox .listBox .item::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #F0F0F0;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 25%;
  top: 0;
  left: -5%;
}
.whyBox .listBox .item .titleBox {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.whyBox .listBox .item .titleBox .icon {
  width: clamp(30px, 20%, 70px);
  margin-right: 10px;
  line-height: 0;
}
.whyBox .listBox .item .titleBox .title {
  width: 80%;
  font-size: 1.75rem;
  line-height: 1.1;
}
@media screen and (max-width: 1000px) {
  .whyBox .listBox .item .titleBox .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .whyBox .listBox .item .titleBox .title {
    font-size: 1.25rem;
  }
}
.whyBox .listBox .item .description {
  flex-grow: 1;
  border: 3px solid #E0E0E0;
  padding: clamp(20px, 5%, 50px) clamp(20px, 10%, 70px);
  font-size: 1.3125rem;
  color: #130A06;
  font-weight: 300;
}
@media screen and (max-width: 1000px) {
  .whyBox .listBox .item .description {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .whyBox .listBox .item .description {
    font-size: 1rem;
  }
}

.aboutBox {
  position: relative;
  overflow: hidden;
  padding: clamp(100px, 11%, 250px) 0 clamp(30px, 5%, 170px);
}
.aboutBox::before {
  content: "";
  display: block;
  position: absolute;
  -webkit-clip-path: url(#my-clip-path);
          clip-path: url(#my-clip-path);
  overflow: hidden;
  line-height: 0;
  inset: 0;
  display: flex;
  background: #000 url("../images/index/about.jpg") top center no-repeat;
  background-size: cover;
  transform-origin: top center;
}
.aboutBox .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 575px) {
  .aboutBox .container {
    flex-direction: column;
  }
}
.aboutBox .infoBox {
  max-width: 670px;
  color: #FFF;
}
.aboutBox .infoBox .slogan {
  font-weight: 500;
  font-size: 5.375rem;
  line-height: 1;
  margin-bottom: clamp(15px, 10%, 35px);
}
@media screen and (max-width: 1000px) {
  .aboutBox .infoBox .slogan {
    font-size: 3.75rem;
  }
}
@media screen and (max-width: 767px) {
  .aboutBox .infoBox .slogan {
    font-size: 2.125rem;
  }
}
.aboutBox .infoBox .description {
  font-size: 1.3125rem;
  line-height: 1.2;
}
@media screen and (max-width: 1000px) {
  .aboutBox .infoBox .description {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 767px) {
  .aboutBox .infoBox .description {
    font-size: 1rem;
  }
}
.aboutBox .more {
  min-width: 130px;
  width: 27%;
  aspect-ratio: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: 700;
  font-size: 1.125rem;
  color: #FFF;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .aboutBox .more {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .aboutBox .more {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 575px) {
  .aboutBox .more {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 50px;
    aspect-ratio: unset;
    padding: 20px 40px 20px 20px;
  }
}
.aboutBox .more::before {
  content: "";
  position: absolute;
  width: 50px;
  aspect-ratio: 1;
  display: block;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background: url("../images/index/more.png") center no-repeat;
}
@media screen and (max-width: 575px) {
  .aboutBox .more::before {
    top: 50%;
    left: 100%;
  }
}
.aboutBox .svg {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}/*# sourceMappingURL=index.css.map */