.newsList section {
  --gap: 20px;
}
.newsList section .listBox {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.newsList section .listBox .item {
  width: calc((100% - (var(--gap))) / 2);
  background: #FFF;
  position: relative;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .newsList section .listBox .item {
    width: 100%;
  }
}
.newsList section .listBox .item:hover .info .title {
  color: #C61D06;
}
.newsList section .pic {
  position: relative;
  isolation: isolate;
}
.newsList section time {
  width: 175px;
  padding: 4px 10px 10px;
  text-align: center;
  position: relative;
  display: block;
  line-height: 1;
  transform: translateY(-100%);
  margin: 0 0 0 auto;
  color: #FFF;
  background: #C61D06;
}
.newsList section .info {
  position: relative;
  padding: 0 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newsList section .info .title {
  color: #000;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  font-size: 1.75rem;
}
@media screen and (max-width: 1000px) {
  .newsList section .info .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .newsList section .info .title {
    font-size: 1.25rem;
  }
}
.newsList section .info .more {
  color: #C61D06;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .newsDetail section .container {
    display: flex;
    gap: 50px;
  }
}
.newsDetail section .container .sideBox {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .newsDetail section .container .sideBox {
    width: 30%;
    max-width: 400px;
    flex-shrink: 0;
    position: sticky;
    top: 80px;
  }
}
.newsDetail section .container .sideBox .out {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .newsDetail section .container .sideBox .out {
    position: sticky;
    top: 70px;
  }
}
@media screen and (min-width: 768px) {
  .newsDetail section .container .sideBox .backList {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
.newsDetail section .container .sideBox time {
  display: block;
  font-size: 1.125rem;
  line-height: 1;
  color: #000;
  margin-bottom: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: clamp(20px, 10%, 50px);
}
.newsDetail section .container .sideBox .tag {
  padding: 5px 10px;
  color: #FFF;
  background: #C61D06;
  margin-right: 10px;
}
.newsDetail section .container .sideBox .title {
  color: #333333;
  font-weight: 600;
  line-height: 1.2;
  transition: all 0.3s ease;
  font-size: 3rem;
  margin-bottom: clamp(20px, 5%, 50px);
}
@media screen and (max-width: 1000px) {
  .newsDetail section .container .sideBox .title {
    font-size: 2.125rem;
  }
}
@media screen and (max-width: 767px) {
  .newsDetail section .container .sideBox .title {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .newsDetail section .container .contentBox {
    max-width: 860px;
    width: 70%;
  }
}
.newsDetail section .pic {
  margin-bottom: 30px;
  box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1000px) {
  .newsDetail section .pic {
    margin-bottom: 10px;
  }
}
.newsDetail section .editor {
  font-size: 1.125rem;
}
@media screen and (max-width: 767px) {
  .newsDetail section .editor {
    font-size: 1rem;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 576px) {
  .newsDetail section .hasSide > .changePage {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .newsDetail section .hasSide > .changePage {
    display: flex;
  }
}

.changePage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
  padding: 20px 0;
  border-top: #CCCCCC 1px solid;
  border-bottom: #CCCCCC 1px solid;
  position: relative;
}
@media screen and (max-width: 575px) {
  .changePage {
    display: none;
  }
}
.changePage::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 1px;
  left: 50%;
  display: block;
  background: #666666;
}
.changePage .arrows {
  display: flex;
  gap: 18px;
  align-items: center;
  position: relative;
  line-height: 1;
  color: #666666;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .changePage .arrows {
    font-size: 0.875rem;
  }
}
.changePage .arrows::before {
  content: "";
  width: 35px;
  height: 11px;
  display: block;
  transition: all 0.3s ease;
  -webkit-mask: url("../images/icon/icon_arrow_.svg") center no-repeat;
          mask: url("../images/icon/icon_arrow_.svg") center no-repeat;
  background: #666666;
}
.changePage .arrows.next::before {
  transform: scaleX(-1);
  order: 2;
}
.changePage .arrows:hover {
  color: #C61D06;
}
.changePage .arrows:hover::before {
  background: #C61D06;
}

.backList {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0.7;
  color: #C61D06;
  z-index: 9;
  height: 50px;
  border-radius: 8px;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1000px) {
  .backList {
    height: 40px;
  }
}
.backList::before {
  content: "";
  width: 25px;
  height: 9px;
  -webkit-mask: url("../images/icon/icon_more.svg") center no-repeat;
          mask: url("../images/icon/icon_more.svg") center no-repeat;
  background: #C61D06;
  display: block;
  margin: 0 15px 0 0;
  transform: scaleX(-1);
  transition: all 0.3s ease;
}
.backList:hover::before {
  animation: rightAnimationScaleX 1s 0s ease-in-out infinite;
}

.insidePages .hasSide .sideBox button {
  display: none !important;
}
.insidePages .hasSide .sideBox ul {
  display: flex;
}
.insidePages .hasSide .sideBox ul li {
  flex-grow: 1;
}
.insidePages .hasSide .sideBox ul li a {
  color: #666;
}/*# sourceMappingURL=news.css.map */